<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나의 코치, 나 운동 선택</title>
    <link rel="stylesheet" href='../../static/main/select_style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
</head>
<body>
<div class="title_box">
    <h1 class="page_title">운동 선택</h1>
    <label class="explain">하고싶은 운동을 클릭하세요.</label>
</div>
<a href="{% url 'health_do' "
</body>
</html>